@import url("slider.css");
@import url("styles/comm.css");
@import url("heder.css");
@import url("styles/hero.css");
@import url("styles/services.css");
@import url("styles/health.css");
@import url("styles/improve.css");
@import url("styles/instructors.css");
@import url("styles/testimonial.css");
@import url("styles/form.css");
@import url("styles/footer.css");


